<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feeder Dashboard</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="/javaScript/feeder.js" defer></script>

<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">-->
</head>
<body>

<header th:insert="~{navbar.html}"></header>
<div class="container mt-3 pt-4 pb-5">
    <h1 class="text-center mb-4">
        Your Feeder
        <button type="button" class="btn btn-lg btn-sm custom-btn-transparent" data-bs-toggle="modal" data-bs-target="#infoModal">
            <i class="bi bi-info-square fs-4" style="color: #F27244;"></i>
        </button>
    </h1>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="30000">
        <div class="carousel-inner p-3">
            <div class="carousel-item" th:each="feeder : ${feeders}">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #F27244;">Reservoir Level</h3>
                        <h5 class="card-title" th:text="'Pet: ' + ${petNames.get(feeder.getId())}"></h5>
                        <div class="progress mb-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                                 th:style="'width: ' + ${reservoirLevels.get(feeder.getId())} + '%'" aria-valuenow="${reservoirLevel}" aria-valuemin="0" aria-valuemax="10">
                                <span th:text="${reservoirLevels.get(feeder.getId())} + '%'"></span>
                            </div>
                        </div>
                        <div th:if="${isFoodLevelLows.get(feeder.getId())}" class="alert alert-danger" role="alert">
                            <strong>Warning!</strong> Food level is low. Please refill the reservoir.
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #F27244;">Current Schedule</h3>
                        <p><strong>Next Feeding:</strong> <span th:text="${nextFeedingTimes.get(feeder.getId())}"></span></p>
                        <div class="text-start">
                            <a href="/schedulecreation" class="btn" style="background-color: #F27244; color: white;">Change Feeding Schedule</a>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-body text-start">
                        <h3 class="card-title" style="color: #F27244;">Distribute Food Now</h3>
                        <form th:action="@{/feedNow}" method="post">
                            <div class="mb-3">
                                <label for="feedNow" class="form-label">Choose Amount to Feed</label>
                                <input type="number" id="feedNow" name="amount" required class="form-control" min="1">
                                <input type="hidden" id="feederId" name="feederId" th:value="${feeder.getId()}">
                            </div>
                            <button type="submit" class="btn" style="background-color: #F27244; color: white;">Feed Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev position-absolute start-0 h-50 top-50 translate-middle-y" style="filter: invert(100%);" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next position-absolute end-0 h-50 top-50 translate-middle-y" style="filter: invert(100%);" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Your Feeder Page</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This page helps you manage your feeder system. You can check the current reservoir level, schedule the next feeding, and manually distribute food.</p>
                <p><strong>Reservoir Level:</strong> Displays the current percentage of food in the reservoir. If it's low, you will receive a warning.</p>
                <p><strong>Next Feeding:</strong> Displays the time for the next automatic feeding.</p>
                <p><strong>Distribute Food Now:</strong> Allows you to manually feed your system by selecting the amount of food to distribute.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{footer.html}"></footer>




</body>
</html>