<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feeder Dashboard</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<header th:insert="~{navbar.html}"></header>

<div class="container mt-5">
    <div class="border p-4 rounded bg-light">
        <h4 th:text="'Feeder ' + ${feeders}"></h4>

        <div>
            <p><strong>Next Feeding:</strong> <span th:text="${schedules.get(0).timeToFeed}"></span></p>
        </div>

        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                 th:style="'width: ' + ${reservoirLevel} + '%'" aria-valuenow="${reservoirLevel}" aria-valuemin="0" aria-valuemax="10">
                <span th:text="${reservoirLevel} + '%'"></span>
            </div>
        </div>


        <div class="text-center">
            <button class="btn btn-primary">Change Feeding</button>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="border p-4 rounded bg-light">
<form th:action="@{/feedNow}" method="post">
    <label for="feedNow"> Choose Amount to Feed</label>
    <input type="number" id="feedNow" name="amount" required>
    <button type="submit">feedNow</button>
</form>
    </div>
</div>


<footer th:insert="~{footer.html}"></footer>
</body>
</html>
