<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule choice</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<header>
    <h1>Schedule Choice</h1>
</header>
<h1>Create a Schedule</h1>
<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-12 col-md-5 mb-4">
            <div class="card rounded-4 bg-light shadow-lg">
                <div class="card-body">
                    <form action="/schedule/add" method="POST">
                        <div class="mb-3">
                            <label for="feeder">Select Feeder:</label>
                            <select id="feeder" name="feederId" required>
                                <option value="">-- Choose Feeder --</option>
                                <th:block th:each="feeder : ${feeders}">
                                    <option th:value="${feeder.id}" th:text="${feeder.id}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="mb-3">
                        <label for="timeToFeed">Time to Feed (HH:mm):</label>
                        <input type="Time" id="timeToFeed" name="timeToFeed" required/>
                        </div>

                        <div class="mb-3">
                        <label for="frequency">Feed Frequency:</label>
                        <select id="frequency" name="frequency" required>
                            <option value="">-- Choose Frequency --</option>
                            <th:block th:each="frequency : ${frequencies}">
                                <option th:value="${frequency}" th:text="${frequency}"></option>
                            </th:block>
                        </select>
                        </div>

                        <button type="submit">Create Schedule</button>

                        <div th:if="${successMessage}">
                            <p th:text="${successMessage}"></p>
                        </div>
                        <div th:if="${errorMessage}">
                            <p th:text="${errorMessage}"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:if="${successMessage}">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>
</body>
</html>