h1 {
  text-align: center;
}

p {
  margin: 5px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.containerPet {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 20vw;
  background-color: darkgray;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

.imagePet {
  flex-shrink: 0;
}

.intelPet {
  flex-grow: 1;
}

.petFeederLevel {
  position: absolute;
  right: 20px;
  top: 50px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 200px;


}

.petlevel{
  background-color: #0b0b0c;
  height: 300px;
  width: 100px;
  border-radius: 10px;

}

.innerpetlevel{
  background-color: red;
  height: 90px;
  width: 100px;
  border-radius: 10px 10px 0 0;
}
h2{
  background-color: darkgray;
  border: 3px solid darkgray;

}



