<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Data</title>
  <link rel="stylesheet" href="../css/dataPage.css">
</head>
<body>

<h1>Pet feeding Calendar</h1>
<div class="week-container">
  <h1>This Week's To-Dos</h1>
  <div class="days">
    <div class="day">
      <h2>Monday</h2>
      <textarea placeholder="Enter your tasks..." id="monday"></textarea>
      <button onclick="saveTask('monday')">Save</button>
    </div>
    <div class="day">
      <h2>Tuesday</h2>
      <textarea placeholder="Enter your tasks..." id="tuesday"></textarea>
      <button onclick="saveTask('tuesday')">Save</button>
    </div>
    <div class="day">
      <h2>Wednesday</h2>
      <textarea placeholder="Enter your tasks..." id="wednesday"></textarea>
      <button onclick="saveTask('wednesday')">Save</button>
    </div>
    <div class="day">
      <h2>Thursday</h2>
      <textarea placeholder="Enter your tasks..." id="thursday"></textarea>
      <button onclick="saveTask('thursday')">Save</button>
    </div>
    <div class="day">
      <h2>Friday</h2>
      <textarea placeholder="Enter your tasks..." id="friday"></textarea>
      <button onclick="saveTask('friday')">Save</button>
    </div>
    <div class="day">
      <h2>Saturday</h2>
      <textarea placeholder="Enter your tasks..." id="saturday"></textarea>
      <button onclick="saveTask('saturday')">Save</button>
    </div>
    <div class="day">
      <h2>Sunday</h2>
      <textarea placeholder="Enter your tasks..." id="sunday"></textarea>
      <button onclick="saveTask('sunday')">Save</button>
    </div>
  </div>
</div>


</body>
</html>
